<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>

<body>
  <h2>Hello ! </h2>
  <h2>Please click on given link to reset your password</h2>
  <a href="{{http}}/#/auth/resetpassword/{{token}}">Reset Your Pasword</a>
  <p>please ignore this email and your password will remain unchanged.</p>
</body>

</html>